In [1]:
import requests
import pandas as pd

In [2]:
def obtener_piscinas():
    url = "https://datos.madrid.es/egob/catalogo/210227-0-piscinas-publicas.csv"
    
    try:
        response = requests.get(url)
        response.raise_for_status()  # Verifica si la solicitud fue exitosa

        # Si la solicitud es exitosa, retorna el contenido en formato CSV
        return response.content

    except requests.exceptions.RequestException as e:
        print("Error al obtener las piscinas:", e)
        return None

In [3]:
contenido_csv = obtener_piscinas()

# Verificar si se obtuvo el contenido y guardarlo en un archivo CSV
if contenido_csv:
    with open("../data/madrid/Piscinas/piscinas_madrid.csv", "wb") as archivo_csv:
        archivo_csv.write(contenido_csv)
    print("Se ha guardado el archivo piscinas_madrid.csv")

Se ha guardado el archivo piscinas_madrid.csv

In [2]:
df = pd.read_csv("../data/madrid/Piscinas/piscinas_madrid.csv", sep=";", encoding="latin-1")

In [3]:
df.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,NaN,Horario de uso de las instalaciones deportivas...,Clases deportivas Pre-infantiles (0 a 5 añ...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,MONFORTE DE LEMOS,...,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699,914 800 476 - idmlavaguada@madrid.es,NaN,idmlavaguada@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
1,10183549,Centro Deportivo Municipal Alcántara,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-infantiles...,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALCANTARA,...,SALAMANCA,442851,4475492,40.428103,-3.673732,917 373 641,NaN,alcantara@viding.es,/contenido/entidadesYorganismos/CentrosEspacio...,
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre infantile...,"Bus: 160, 161, 658 Renfe: Aravaca Biciclet...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ARROYO DE POZUELO,...,MONCLOA-ARAVACA,433581,4478234,40.452121,-3.783283,913 571 228,NaN,idmagoyeneche@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
3,4696,Centro Deportivo Municipal Aluche,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-Infanti...,"Metro: Aluche Bus: 17, 34, 139 Cercanías Ren...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,DE LAS AGUILAS,...,LATINA,434332,4470525,40.382721,-3.773654,917 062 868,NaN,idmaluche@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
4,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-infantiles...,"Metro: Portazgo. Bus: 10 , 54 , 57 , 58 , 1...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,PAYASO FOFO,...,PUENTE DE VALLECAS,443998,4471417,40.391462,-3.659864,914 781 492,NaN,idmpvallecas@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,

In [4]:
df["DESCRIPCION"] =  df["DESCRIPCION"].fillna("No disponible")

In [5]:
df["DESCRIPCION"].head()

0    No disponible
1    No disponible
2    No disponible
3    No disponible
4    No disponible
Name: DESCRIPCION, dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PK                   59 non-null     int64
 1   NOMBRE               59 non-null     object
 2   DESCRIPCION-ENTIDAD  0 non-null      float64
 3   HORARIO              58 non-null     object
 4   EQUIPAMIENTO         57 non-null     object
 5   TRANSPORTE           59 non-null     object
 6   DESCRIPCION          59 non-null     object
 7   ACCESIBILIDAD        59 non-null     object
 8   CONTENT-URL          59 non-null     object
 9   NOMBRE-VIA           59 non-null     object
 10  CLASE-VIAL           59 non-null     object
 11  TIPO-NUM             59 non-null     object
 12  NUM                  58 non-null     float64
 13  PLANTA               0 non-null      float64
 14  PUERTA               0 non-null      float64
 15  ESCALERAS            0 non-null      float64
 16  ORIENTACION          1 non-null      object
 17  LOCALIDAD            59 non-null     object
 18  PROVINCIA            59 non-null     object
 19  CODIGO-POSTAL        59 non-null     int64
 20  COD-BARRIO           57 non-null     float64
 21  BARRIO               59 non-null     object
 22  COD-DISTRITO         57 non-null     float64
 23  DISTRITO             59 non-null     object
 24  COORDENADA-X         59 non-null     int64
 25  COORDENADA-Y         59 non-null     int64
 26  LATITUD              59 non-null     float64
 27  LONGITUD             59 non-null     float64
 28  TELEFONO             58 non-null     object
 29  FAX                  2 non-null      object
 30  EMAIL                57 non-null     object
 31  TIPO                 59 non-null     object
 32  Unnamed: 32          59 non-null     object
dtypes: float64(9), int64(4), object(20)
memory usage: 15.3+ KB

In [6]:
df.describe()

,PK,DESCRIPCION-ENTIDAD,NUM,PLANTA,PUERTA,ESCALERAS,CODIGO-POSTAL,COD-BARRIO,COD-DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
count,5.900000e+01,0.0,58.000000,0.0,0.0,0.0,59.000000,57.000000,57.000000,59.000000,5.900000e+01,59.000000,59.000000
mean,1.562421e+06,NaN,32.810345,NaN,NaN,NaN,28027.525424,3.438596,10.385965,441988.966102,4.474764e+06,40.421316,-3.683938
std,3.224063e+06,NaN,57.872351,NaN,NaN,NaN,14.491800,1.927411,5.195308,3791.281750,4.265016e+03,0.038415,0.044624
min,4.672000e+03,NaN,1.000000,NaN,NaN,NaN,28002.000000,1.000000,1.000000,433581.000000,4.466411e+06,40.346220,-3.783283
25%,4.689500e+03,NaN,5.000000,NaN,NaN,NaN,28017.500000,2.000000,7.000000,439578.500000,4.471206e+06,40.389436,-3.712325
50%,4.707000e+03,NaN,13.500000,NaN,NaN,NaN,28029.000000,3.000000,10.000000,441216.000000,4.474779e+06,40.421720,-3.692821
75%,1.278940e+05,NaN,35.250000,NaN,NaN,NaN,28039.500000,5.000000,14.000000,444285.000000,4.478242e+06,40.452689,-3.656582
max,1.202219e+07,NaN,376.000000,NaN,NaN,NaN,28054.000000,7.000000,21.000000,450176.000000,4.483276e+06,40.498095,-3.587693

In [6]:
df = df.drop(["DESCRIPCION-ENTIDAD","PLANTA","PUERTA","ESCALERAS","ORIENTACION","FAX","EMAIL","Unnamed: 32","CONTENT-URL","COD-BARRIO","COD-DISTRITO","TELEFONO","TIPO","PROVINCIA","EQUIPAMIENTO","ACCESIBILIDAD","HORARIO","TIPO-NUM"],axis=1)

In [7]:
df["DISTRITO"].unique()

array(['FUENCARRAL-EL PARDO', 'SALAMANCA', 'MONCLOA-ARAVACA', 'LATINA',
       'PUENTE DE VALLECAS', 'TETUAN', 'BARAJAS', 'CARABANCHEL',
       'CHAMBERI', 'ARGANZUELA', 'VILLA DE VALLECAS', 'CHAMARTIN',
       'CIUDAD LINEAL', 'RETIRO', 'VILLAVERDE', 'CENTRO',
       'SAN BLAS-CANILLEJAS', 'VICALVARO', 'HORTALEZA', 'MORATALAZ',
       'USERA'], dtype=object)

### Filtrado por distrito (OTRO NUEVO ENFOQUE...)

In [8]:
df = df.loc[df["DISTRITO"].isin(['CENTRO', 'CHAMBERI', 'RETIRO','ARGANZUELA','SALAMANCA'])]

In [9]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,NOMBRE-VIA,CLASE-VIAL,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
9,12022187,Centro Deportivo Municipal Cea Bermúdez,"Metro: Canal (L2, L7) y Ríos Rosas (L1). Bus...",&amp;iexcl;Ya estamos abiertos! Si quieres in...,CEA BERMUDEZ,CALLE,3.0,MADRID,28003,ARAPILES,CHAMBERI,440114,4476676,40.438580,-3.706107
10,78960,Centro Deportivo Municipal Centro Integrado Ar...,"Metro: Palos de la Frontera Bus: 6, 8, 19, 45...",No disponible,CANARIAS,CALLE,17.0,MADRID,28045,PALOS DE MOGUER,ARGANZUELA,441089,4472825,40.402073,-3.695533
14,134059,Centro Deportivo Municipal Daoíz y Velarde 1,"Metro: Pacífico, Menéndez Pelayo Bus: 37, 57, ...",No disponible,DAOÍZ Y VELARDE,PLAZA,5.0,MADRID,28007,PACIFICO,RETIRO,442528,4472638,40.402370,-3.677281
18,6486044,Centro Deportivo Municipal Escuelas de San Antón,Bus: 3. Metro: Chueca y Tribunal. Bicicleta:...,No disponible,FARMACIA,CALLE,13.0,MADRID,28004,JUSTICIA,CENTRO,440704,4475035,40.423827,-3.699010

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1 to 55
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             11 non-null     int64
 1   NOMBRE         11 non-null     object
 2   TRANSPORTE     11 non-null     object
 3   DESCRIPCION    11 non-null     object
 4   NOMBRE-VIA     11 non-null     object
 5   CLASE-VIAL     11 non-null     object
 6   NUM            11 non-null     float64
 7   LOCALIDAD      11 non-null     object
 8   CODIGO-POSTAL  11 non-null     int64
 9   BARRIO         11 non-null     object
 10  DISTRITO       11 non-null     object
 11  COORDENADA-X   11 non-null     int64
 12  COORDENADA-Y   11 non-null     int64
 13  LATITUD        11 non-null     float64
 14  LONGITUD       11 non-null     float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.4+ KB

In [11]:
df["NUM"] = df["NUM"].fillna("No disponible")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1 to 55
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             11 non-null     int64
 1   NOMBRE         11 non-null     object
 2   TRANSPORTE     11 non-null     object
 3   DESCRIPCION    11 non-null     object
 4   NOMBRE-VIA     11 non-null     object
 5   CLASE-VIAL     11 non-null     object
 6   NUM            11 non-null     float64
 7   LOCALIDAD      11 non-null     object
 8   CODIGO-POSTAL  11 non-null     int64
 9   BARRIO         11 non-null     object
 10  DISTRITO       11 non-null     object
 11  COORDENADA-X   11 non-null     int64
 12  COORDENADA-Y   11 non-null     int64
 13  LATITUD        11 non-null     float64
 14  LONGITUD       11 non-null     float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.4+ KB

In [13]:
df.describe()

,PK,NUM,CODIGO-POSTAL,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
count,1.100000e+01,11.000000,11.000000,11.000000,1.100000e+01,11.000000,11.000000
mean,4.812553e+06,23.636364,28012.636364,441148.181818,4.474545e+06,40.419280,-3.693837
std,5.016002e+06,25.033069,14.249721,1519.232360,1.732357e+03,0.015817,0.017892
min,4.727000e+03,3.000000,28003.000000,439131.000000,4.472244e+06,40.398655,-3.717381
25%,1.003445e+05,10.000000,28004.500000,439990.500000,4.473036e+06,40.404992,-3.707580
50%,4.623697e+06,17.000000,28005.000000,440704.000000,4.474779e+06,40.421720,-3.699010
75%,8.797444e+06,25.500000,28017.500000,442661.500000,4.476039e+06,40.433024,-3.675891
max,1.202219e+07,93.000000,28045.000000,443566.000000,4.476908e+06,40.440648,-3.665252

In [14]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,NOMBRE-VIA,CLASE-VIAL,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
9,12022187,Centro Deportivo Municipal Cea Bermúdez,"Metro: Canal (L2, L7) y Ríos Rosas (L1). Bus...",&amp;iexcl;Ya estamos abiertos! Si quieres in...,CEA BERMUDEZ,CALLE,3.0,MADRID,28003,ARAPILES,CHAMBERI,440114,4476676,40.438580,-3.706107
10,78960,Centro Deportivo Municipal Centro Integrado Ar...,"Metro: Palos de la Frontera Bus: 6, 8, 19, 45...",No disponible,CANARIAS,CALLE,17.0,MADRID,28045,PALOS DE MOGUER,ARGANZUELA,441089,4472825,40.402073,-3.695533
14,134059,Centro Deportivo Municipal Daoíz y Velarde 1,"Metro: Pacífico, Menéndez Pelayo Bus: 37, 57, ...",No disponible,DAOÍZ Y VELARDE,PLAZA,5.0,MADRID,28007,PACIFICO,RETIRO,442528,4472638,40.402370,-3.677281
18,6486044,Centro Deportivo Municipal Escuelas de San Antón,Bus: 3. Metro: Chueca y Tribunal. Bicicleta:...,No disponible,FARMACIA,CALLE,13.0,MADRID,28004,JUSTICIA,CENTRO,440704,4475035,40.423827,-3.699010

In [17]:
# Intercambiamos el orden de las columnas 3 y 4 para luego cambiarles el nombre para favorecer la visualización.
df.iloc[:, [3, 4]] = df.iloc[:, [4, 3]].values

In [15]:
df.rename(columns={"NOMBRE-VIA": "CLASE-VIA", "CLASE-VIAL": "NOMBRE-VIA"}, inplace=True)

In [16]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,CLASE-VIA,NOMBRE-VIA,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
9,12022187,Centro Deportivo Municipal Cea Bermúdez,"Metro: Canal (L2, L7) y Ríos Rosas (L1). Bus...",&amp;iexcl;Ya estamos abiertos! Si quieres in...,CEA BERMUDEZ,CALLE,3.0,MADRID,28003,ARAPILES,CHAMBERI,440114,4476676,40.438580,-3.706107
10,78960,Centro Deportivo Municipal Centro Integrado Ar...,"Metro: Palos de la Frontera Bus: 6, 8, 19, 45...",No disponible,CANARIAS,CALLE,17.0,MADRID,28045,PALOS DE MOGUER,ARGANZUELA,441089,4472825,40.402073,-3.695533
14,134059,Centro Deportivo Municipal Daoíz y Velarde 1,"Metro: Pacífico, Menéndez Pelayo Bus: 37, 57, ...",No disponible,DAOÍZ Y VELARDE,PLAZA,5.0,MADRID,28007,PACIFICO,RETIRO,442528,4472638,40.402370,-3.677281
18,6486044,Centro Deportivo Municipal Escuelas de San Antón,Bus: 3. Metro: Chueca y Tribunal. Bicicleta:...,No disponible,FARMACIA,CALLE,13.0,MADRID,28004,JUSTICIA,CENTRO,440704,4475035,40.423827,-3.699010

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1 to 55
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             11 non-null     int64
 1   NOMBRE         11 non-null     object
 2   TRANSPORTE     11 non-null     object
 3   DESCRIPCION    11 non-null     object
 4   CLASE-VIA      11 non-null     object
 5   NOMBRE-VIA     11 non-null     object
 6   NUM            11 non-null     float64
 7   LOCALIDAD      11 non-null     object
 8   CODIGO-POSTAL  11 non-null     int64
 9   BARRIO         11 non-null     object
 10  DISTRITO       11 non-null     object
 11  COORDENADA-X   11 non-null     int64
 12  COORDENADA-Y   11 non-null     int64
 13  LATITUD        11 non-null     float64
 14  LONGITUD       11 non-null     float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.4+ KB

In [95]:
# nombre_archivo = "../Json/piscinas.json"

In [96]:
# df.to_json(nombre_archivo, orient='records')

### Nuevo enfoque, quieren todo en un .json, unificaremos columnas y los propios json en cada cosa. Solo 4 columnas tipo,nombre,direccion,coordenada-x,coordenada-y latitud,longitud y descripcion

In [18]:
def concatenar_fila(row):
    return f"{row['CLASE-VIA']} {row['NOMBRE-VIA']} {row['NUM']}, {row['LOCALIDAD']}, {row['CODIGO-POSTAL']}"

# Crear la nueva columna "DIRECCION" aplicando la función a lo largo de las filas
df['DIRECCION'] = df.apply(concatenar_fila, axis=1)

In [19]:
df.columns

Index(['PK', 'NOMBRE', 'TRANSPORTE', 'DESCRIPCION', 'CLASE-VIA', 'NOMBRE-VIA',
       'NUM', 'LOCALIDAD', 'CODIGO-POSTAL', 'BARRIO', 'DISTRITO',
       'COORDENADA-X', 'COORDENADA-Y', 'LATITUD', 'LONGITUD', 'DIRECCION'],
      dtype='object')

In [20]:
df.drop(['PK','TRANSPORTE','CLASE-VIA', 'NOMBRE-VIA', 'NUM',
       'LOCALIDAD', 'CODIGO-POSTAL', 'BARRIO', 'DISTRITO'],axis = 1,inplace=True)

In [21]:
df["TIPO"] = "PISCINAS"

In [22]:
df.head()

,NOMBRE,DESCRIPCION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,DIRECCION,TIPO
1,Centro Deportivo Municipal Alcántara,No disponible,442851,4475492,40.428103,-3.673732,"ALCANTARA CALLE 26.0, MADRID, 28006",PISCINAS
9,Centro Deportivo Municipal Cea Bermúdez,&amp;iexcl;Ya estamos abiertos! Si quieres in...,440114,4476676,40.438580,-3.706107,"CEA BERMUDEZ CALLE 3.0, MADRID, 28003",PISCINAS
10,Centro Deportivo Municipal Centro Integrado Ar...,No disponible,441089,4472825,40.402073,-3.695533,"CANARIAS CALLE 17.0, MADRID, 28045",PISCINAS
14,Centro Deportivo Municipal Daoíz y Velarde 1,No disponible,442528,4472638,40.402370,-3.677281,"DAOÍZ Y VELARDE PLAZA 5.0, MADRID, 28007",PISCINAS
18,Centro Deportivo Municipal Escuelas de San Antón,No disponible,440704,4475035,40.423827,-3.699010,"FARMACIA CALLE 13.0, MADRID, 28004",PISCINAS

In [23]:
nuevo_orden_columnas = ["TIPO","NOMBRE","DIRECCION","DESCRIPCION","COORDENADA-X","COORDENADA-Y","LATITUD","LONGITUD"] 
df = df.reindex(columns=nuevo_orden_columnas)

In [24]:
df.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
1,PISCINAS,Centro Deportivo Municipal Alcántara,"ALCANTARA CALLE 26.0, MADRID, 28006",No disponible,442851,4475492,40.428103,-3.673732
9,PISCINAS,Centro Deportivo Municipal Cea Bermúdez,"CEA BERMUDEZ CALLE 3.0, MADRID, 28003",&amp;iexcl;Ya estamos abiertos! Si quieres in...,440114,4476676,40.438580,-3.706107
10,PISCINAS,Centro Deportivo Municipal Centro Integrado Ar...,"CANARIAS CALLE 17.0, MADRID, 28045",No disponible,441089,4472825,40.402073,-3.695533
14,PISCINAS,Centro Deportivo Municipal Daoíz y Velarde 1,"DAOÍZ Y VELARDE PLAZA 5.0, MADRID, 28007",No disponible,442528,4472638,40.402370,-3.677281
18,PISCINAS,Centro Deportivo Municipal Escuelas de San Antón,"FARMACIA CALLE 13.0, MADRID, 28004",No disponible,440704,4475035,40.423827,-3.699010

Quitamos Coordenadas

In [25]:
df.drop(["COORDENADA-X","COORDENADA-Y"],axis=1,inplace=True)

In [26]:
df.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
1,PISCINAS,Centro Deportivo Municipal Alcántara,"ALCANTARA CALLE 26.0, MADRID, 28006",No disponible,40.428103,-3.673732
9,PISCINAS,Centro Deportivo Municipal Cea Bermúdez,"CEA BERMUDEZ CALLE 3.0, MADRID, 28003",&amp;iexcl;Ya estamos abiertos! Si quieres in...,40.438580,-3.706107
10,PISCINAS,Centro Deportivo Municipal Centro Integrado Ar...,"CANARIAS CALLE 17.0, MADRID, 28045",No disponible,40.402073,-3.695533
14,PISCINAS,Centro Deportivo Municipal Daoíz y Velarde 1,"DAOÍZ Y VELARDE PLAZA 5.0, MADRID, 28007",No disponible,40.402370,-3.677281
18,PISCINAS,Centro Deportivo Municipal Escuelas de San Antón,"FARMACIA CALLE 13.0, MADRID, 28004",No disponible,40.423827,-3.699010

In [27]:
df.to_csv("../data/madrid/Piscinas/piscinas_madrid_nuevo_reduced.csv", index=False)