In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta

In [2]:
fecha_actual = datetime.now()
fecha_actual

datetime.datetime(2023, 7, 25, 19, 22, 56, 236121)

In [3]:
fecha_actual_str = fecha_actual.strftime("%Y-%m-%d")
fecha_actual_str

'2023-07-25'

In [4]:
def obtener_agenda_activades_eventos_100dias():
    url = "https://datos.madrid.es/egob/catalogo/300107-0-agenda-actividades-eventos.csv"
    
    try:
        response = requests.get(url)
        response.raise_for_status()  # Verifica si la solicitud fue exitosa

        # Si la solicitud es exitosa, retorna el contenido en formato CSV
        return response.content

    except requests.exceptions.RequestException as e:
        print("Error al obtener los eventos culturales:", e)
        return None

In [5]:
contenido_csv = obtener_agenda_activades_eventos_100dias()

# Verificar si se obtuvo el contenido y guardarlo en un archivo CSV
if contenido_csv:
    nombre_archivo = f'Agenda activades 100 dias a {fecha_actual_str}.csv'

    # Guardar el contenido en el archivo CSV
    with open(nombre_archivo, "wb") as archivo_csv:
        archivo_csv.write(contenido_csv)
    print(nombre_archivo)

Agenda activades 100 dias a 2023-07-25.csv

In [6]:
df = pd.read_csv(nombre_archivo, sep=";", encoding="latin-1")

In [7]:
df

,ID-EVENTO,TITULO,PRECIO,GRATUITO,LARGA-DURACION,DIAS-SEMANA,DIAS-EXCLUIDOS,FECHA,FECHA-FIN,HORA,...,DISTRITO-INSTALACION,BARRIO-INSTALACION,CODIGO-POSTAL-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO,AUDIENCIA,Unnamed: 29
0,12042069,14.4,20 euros,0,1,"M,X,J,V,S,D",NaN,2024-06-27 00:00:00.0,2024-07-28 23:59:00.0,NaN,...,CENTRO,CORTES,28012.0,440597.0,4474036.0,40.414829,-3.700165,/contenido/actividades/TeatroPerformance,NaN,NaN
1,12038390,20000 especies de abejas (en el Parque de Vald...,NaN,1,0,NaN,NaN,2023-07-29 00:00:00.0,2023-07-29 23:59:00.0,22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/contenido/actividades/Musica,NaN,NaN
2,12020015,"20000 especies de abejas (Estibaliz Urresola, ...",NaN,1,0,NaN,NaN,2023-07-29 00:00:00.0,2023-07-29 23:59:00.0,22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/contenido/actividades/Musica,NaN,NaN
3,12060008,2001: Una odisea del espacio,NaN,0,0,NaN,NaN,2023-09-17 00:00:00.0,2023-09-17 23:59:00.0,NaN,...,ARGANZUELA,CHOPERA,28045.0,440946.0,4471422.0,40.391310,-3.695803,/contenido/actividades/ProgramacionDestacadaAg...,NaN,NaN
4,12027875,20.000 Especies de abejas,NaN,1,0,NaN,NaN,2023-08-14 00:00:00.0,2023-08-14 23:59:00.0,22:15,...,SAN BLAS-CANILLEJAS,CANILLEJAS,28022.0,448169.0,4477063.0,40.442604,-3.611169,/contenido/actividades/CineActividadesAudiovis...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,12052765,¡Móvil-izate! Aprender a usar la app 'Cita san...,NaN,1,0,NaN,NaN,2023-07-31 00:00:00.0,2023-07-31 23:59:00.0,11:30,...,CHAMBERI,GAZTAMBIDE,28015.0,439412.0,4476170.0,40.433958,-3.714336,/contenido/actividades/CursosTalleres,/usuario/Mujeres,NaN
737,12041223,¡Qué bello es vivir!,NaN,1,0,NaN,NaN,2023-08-24 00:00:00.0,2023-08-24 23:59:00.0,22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/contenido/actividades/CineActividadesAudiovis...,NaN,NaN
738,12059782,¡Scooby!,NaN,1,0,NaN,NaN,2023-08-19 00:00:00.0,2023-08-19 23:59:00.0,22:00,...,ARGANZUELA,LEGAZPI,28045.0,441830.0,4471375.0,40.390944,-3.685391,/contenido/actividades/CineActividadesAudiovis...,"/usuario/Niños,/usuario/Familias",NaN
739,12037106,¡Uh! ¿Qué le Cuento?,NaN,1,0,NaN,NaN,2023-08-19 00:00:00.0,2023-08-19 23:59:00.0,20:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/contenido/actividades/Exposiciones,NaN,NaN
740,11883885,¿Y nosotros qué podemos hacer?,NaN,1,1,M,12/1/2023;9/2/2023;11/4/2023;23/5/2023;,2023-07-18 00:00:00.0,2023-07-25 23:59:00.0,11:00,...,HORTALEZA,CANILLAS,28043.0,444876.0,4479190.0,40.461556,-3.650171,/contenido/actividades/CursosTalleres,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    ID-EVENTO                 741 non-null    int64
 1   TITULO                     741 non-null    object
 2   PRECIO                     77 non-null     object
 3   GRATUITO                   741 non-null    int64
 4   LARGA-DURACION             741 non-null    int64
 5   DIAS-SEMANA                305 non-null    object
 6   DIAS-EXCLUIDOS             43 non-null     object
 7   FECHA                      741 non-null    object
 8   FECHA-FIN                  741 non-null    object
 9   HORA                       541 non-null    object
 10  DESCRIPCION                276 non-null    object
 11  CONTENT-URL                741 non-null    object
 12  TITULO-ACTIVIDAD           489 non-null    object
 13  URL-ACTIVIDAD              489 non-null    object
 14  URL-INSTALACION            608 non-null    object
 15  NOMBRE-INSTALACION         608 non-null    object
 16  ACCESIBILIDAD-INSTALACION  608 non-null    object
 17  CLASE-VIAL-INSTALACION     608 non-null    object
 18  NOMBRE-VIA-INSTALACION     602 non-null    object
 19  NUM-INSTALACION            575 non-null    float64
 20  DISTRITO-INSTALACION       608 non-null    object
 21  BARRIO-INSTALACION         593 non-null    object
 22  CODIGO-POSTAL-INSTALACION  598 non-null    float64
 23  COORDENADA-X               599 non-null    float64
 24  COORDENADA-Y               599 non-null    float64
 25  LATITUD                    602 non-null    float64
 26  LONGITUD                   602 non-null    float64
 27  TIPO                       665 non-null    object
 28  AUDIENCIA                  223 non-null    object
 29  Unnamed: 29                0 non-null      float64
dtypes: float64(7), int64(3), object(20)
memory usage: 173.8+ KB

In [9]:
df.describe()

,ID-EVENTO,GRATUITO,LARGA-DURACION,NUM-INSTALACION,CODIGO-POSTAL-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,Unnamed: 29
count,7.410000e+02,741.000000,741.000000,575.000000,598.000000,599.000000,5.990000e+02,602.000000,602.000000,0.0
mean,1.198643e+07,0.744939,0.411606,17.772174,28023.877926,441619.816361,4.474164e+06,40.416073,-3.688258,NaN
std,1.980783e+05,0.436190,0.492457,32.133843,15.096456,2954.074757,3.709554e+03,0.033380,0.034727,NaN
min,1.007480e+07,0.000000,0.000000,0.000000,28001.000000,433622.000000,4.466191e+06,40.342336,-3.781962,NaN
25%,1.202788e+07,0.000000,0.000000,4.000000,28012.000000,440258.000000,4.471619e+06,40.392778,-3.704527,NaN
50%,1.204204e+07,1.000000,0.000000,9.000000,28021.000000,440946.000000,4.474036e+06,40.414829,-3.695803,NaN
75%,1.205335e+07,1.000000,1.000000,18.000000,28039.000000,441830.000000,4.475588e+06,40.428029,-3.686005,NaN
max,1.206459e+07,1.000000,1.000000,251.000000,28054.000000,449784.000000,4.485730e+06,40.519673,-3.592395,NaN

In [10]:
df.dropna(subset=["LONGITUD"], inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 0 to 740
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    ID-EVENTO                 602 non-null    int64
 1   TITULO                     602 non-null    object
 2   PRECIO                     77 non-null     object
 3   GRATUITO                   602 non-null    int64
 4   LARGA-DURACION             602 non-null    int64
 5   DIAS-SEMANA                290 non-null    object
 6   DIAS-EXCLUIDOS             42 non-null     object
 7   FECHA                      602 non-null    object
 8   FECHA-FIN                  602 non-null    object
 9   HORA                       414 non-null    object
 10  DESCRIPCION                209 non-null    object
 11  CONTENT-URL                602 non-null    object
 12  TITULO-ACTIVIDAD           374 non-null    object
 13  URL-ACTIVIDAD              374 non-null    object
 14  URL-INSTALACION            602 non-null    object
 15  NOMBRE-INSTALACION         602 non-null    object
 16  ACCESIBILIDAD-INSTALACION  602 non-null    object
 17  CLASE-VIAL-INSTALACION     602 non-null    object
 18  NOMBRE-VIA-INSTALACION     602 non-null    object
 19  NUM-INSTALACION            575 non-null    float64
 20  DISTRITO-INSTALACION       602 non-null    object
 21  BARRIO-INSTALACION         593 non-null    object
 22  CODIGO-POSTAL-INSTALACION  598 non-null    float64
 23  COORDENADA-X               599 non-null    float64
 24  COORDENADA-Y               599 non-null    float64
 25  LATITUD                    602 non-null    float64
 26  LONGITUD                   602 non-null    float64
 27  TIPO                       530 non-null    object
 28  AUDIENCIA                  215 non-null    object
 29  Unnamed: 29                0 non-null      float64
dtypes: float64(7), int64(3), object(20)
memory usage: 145.8+ KB

In [12]:
df.describe()

,ID-EVENTO,GRATUITO,LARGA-DURACION,NUM-INSTALACION,CODIGO-POSTAL-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,Unnamed: 29
count,6.020000e+02,602.000000,602.000000,575.000000,598.000000,599.000000,5.990000e+02,602.000000,602.000000,0.0
mean,1.198593e+07,0.694352,0.481728,17.772174,28023.877926,441619.816361,4.474164e+06,40.416073,-3.688258,NaN
std,1.930135e+05,0.461064,0.500082,32.133843,15.096456,2954.074757,3.709554e+03,0.033380,0.034727,NaN
min,1.007480e+07,0.000000,0.000000,0.000000,28001.000000,433622.000000,4.466191e+06,40.342336,-3.781962,NaN
25%,1.202718e+07,0.000000,0.000000,4.000000,28012.000000,440258.000000,4.471619e+06,40.392778,-3.704527,NaN
50%,1.204324e+07,1.000000,0.000000,9.000000,28021.000000,440946.000000,4.474036e+06,40.414829,-3.695803,NaN
75%,1.205471e+07,1.000000,1.000000,18.000000,28039.000000,441830.000000,4.475588e+06,40.428029,-3.686005,NaN
max,1.206459e+07,1.000000,1.000000,251.000000,28054.000000,449784.000000,4.485730e+06,40.519673,-3.592395,NaN

In [13]:
df["NUM-INSTALACION"].unique()

array([ 25.,   8.,  32.,  44.,   4.,  12.,   2.,   1.,  14.,  62.,  13.,
        10.,   9.,  nan,   6.,  34.,  29.,  17., 251.,  38., 114.,  80.,
       109., 149., 133.,   5.,  21.,  40.,   0.,  60.,  39.,  15.,  51.,
        77.,  36.,  18.,  35.,  16.,  48.,   3.,  67.,  31.,  50.,   7.,
        24.])

In [14]:
df.columns

Index([' ID-EVENTO', 'TITULO', 'PRECIO', 'GRATUITO', 'LARGA-DURACION',
       'DIAS-SEMANA', 'DIAS-EXCLUIDOS', 'FECHA', 'FECHA-FIN', 'HORA',
       'DESCRIPCION', 'CONTENT-URL', 'TITULO-ACTIVIDAD', 'URL-ACTIVIDAD',
       'URL-INSTALACION', 'NOMBRE-INSTALACION', 'ACCESIBILIDAD-INSTALACION',
       'CLASE-VIAL-INSTALACION', 'NOMBRE-VIA-INSTALACION', 'NUM-INSTALACION',
       'DISTRITO-INSTALACION', 'BARRIO-INSTALACION',
       'CODIGO-POSTAL-INSTALACION', 'COORDENADA-X', 'COORDENADA-Y', 'LATITUD',
       'LONGITUD', 'TIPO', 'AUDIENCIA', 'Unnamed: 29'],
      dtype='object')

In [15]:
df = df.drop(["PRECIO","Unnamed: 29","AUDIENCIA","LARGA-DURACION", "DESCRIPCION", "TITULO-ACTIVIDAD", "URL-ACTIVIDAD", "CODIGO-POSTAL-INSTALACION","URL-INSTALACION","ACCESIBILIDAD-INSTALACION","DIAS-EXCLUIDOS","GRATUITO"],axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 0 to 740
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0    ID-EVENTO              602 non-null    int64
 1   TITULO                  602 non-null    object
 2   DIAS-SEMANA             290 non-null    object
 3   FECHA                   602 non-null    object
 4   FECHA-FIN               602 non-null    object
 5   HORA                    414 non-null    object
 6   CONTENT-URL             602 non-null    object
 7   NOMBRE-INSTALACION      602 non-null    object
 8   CLASE-VIAL-INSTALACION  602 non-null    object
 9   NOMBRE-VIA-INSTALACION  602 non-null    object
 10  NUM-INSTALACION         575 non-null    float64
 11  DISTRITO-INSTALACION    602 non-null    object
 12  BARRIO-INSTALACION      593 non-null    object
 13  COORDENADA-X            599 non-null    float64
 14  COORDENADA-Y            599 non-null    float64
 15  LATITUD                 602 non-null    float64
 16  LONGITUD                602 non-null    float64
 17  TIPO                    530 non-null    object
dtypes: float64(5), int64(1), object(12)
memory usage: 89.4+ KB

In [17]:
df.describe()

,ID-EVENTO,NUM-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
count,6.020000e+02,575.000000,599.000000,5.990000e+02,602.000000,602.000000
mean,1.198593e+07,17.772174,441619.816361,4.474164e+06,40.416073,-3.688258
std,1.930135e+05,32.133843,2954.074757,3.709554e+03,0.033380,0.034727
min,1.007480e+07,0.000000,433622.000000,4.466191e+06,40.342336,-3.781962
25%,1.202718e+07,4.000000,440258.000000,4.471619e+06,40.392778,-3.704527
50%,1.204324e+07,9.000000,440946.000000,4.474036e+06,40.414829,-3.695803
75%,1.205471e+07,18.000000,441830.000000,4.475588e+06,40.428029,-3.686005
max,1.206459e+07,251.000000,449784.000000,4.485730e+06,40.519673,-3.592395

In [18]:
df.describe(include="object")

,TITULO,DIAS-SEMANA,FECHA,FECHA-FIN,HORA,CONTENT-URL,NOMBRE-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,TIPO
count,602,290,602,602,414,602,602,602,602,602,593,530
unique,573,26,197,147,32,602,114,11,100,22,64,24
top,Los guardianes de los tesoros,"L,M,X,J,V,S,D",2023-07-28 00:00:00.0,2023-07-31 23:59:00.0,10:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Teatro Español,CALLE,LEGAZPI,CENTRO,CHOPERA,/contenido/actividades/CursosTalleres
freq,3,70,21,40,56,1,43,305,48,97,65,141

In [19]:
df["DIAS-SEMANA"].fillna("No disponible",inplace=True)

In [20]:
df["HORA"].fillna("No disponible",inplace=True)

In [21]:
df["DISTRITO-INSTALACION"].fillna("No disponible",inplace=True)

In [22]:
df["TIPO"].fillna("No disponible",inplace=True)

In [23]:
df["NOMBRE-INSTALACION"].fillna("No disponible",inplace=True)

In [24]:
df["CLASE-VIAL-INSTALACION"].fillna("No disponible",inplace=True)

In [25]:
df["NOMBRE-VIA-INSTALACION"].fillna("No disponible",inplace=True)

In [26]:
df["NUM-INSTALACION"].fillna("No disponible",inplace=True)

In [27]:
df["BARRIO-INSTALACION"].fillna("No disponible",inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 0 to 740
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0    ID-EVENTO              602 non-null    int64
 1   TITULO                  602 non-null    object
 2   DIAS-SEMANA             602 non-null    object
 3   FECHA                   602 non-null    object
 4   FECHA-FIN               602 non-null    object
 5   HORA                    602 non-null    object
 6   CONTENT-URL             602 non-null    object
 7   NOMBRE-INSTALACION      602 non-null    object
 8   CLASE-VIAL-INSTALACION  602 non-null    object
 9   NOMBRE-VIA-INSTALACION  602 non-null    object
 10  NUM-INSTALACION         602 non-null    object
 11  DISTRITO-INSTALACION    602 non-null    object
 12  BARRIO-INSTALACION      602 non-null    object
 13  COORDENADA-X            599 non-null    float64
 14  COORDENADA-Y            599 non-null    float64
 15  LATITUD                 602 non-null    float64
 16  LONGITUD                602 non-null    float64
 17  TIPO                    602 non-null    object
dtypes: float64(4), int64(1), object(13)
memory usage: 89.4+ KB

In [29]:
df.describe()

          ID-EVENTO   COORDENADA-X  COORDENADA-Y     LATITUD    LONGITUD
count  6.020000e+02     599.000000  5.990000e+02  602.000000  602.000000
mean   1.198593e+07  441619.816361  4.474164e+06   40.416073   -3.688258
std    1.930135e+05    2954.074757  3.709554e+03    0.033380    0.034727
min    1.007480e+07  433622.000000  4.466191e+06   40.342336   -3.781962
25%    1.202718e+07  440258.000000  4.471619e+06   40.392778   -3.704527
50%    1.204324e+07  440946.000000  4.474036e+06   40.414829   -3.695803
75%    1.205471e+07  441830.000000  4.475588e+06   40.428029   -3.686005
max    1.206459e+07  449784.000000  4.485730e+06   40.519673   -3.592395

In [30]:
df.describe(include="object")

,TITULO,DIAS-SEMANA,FECHA,FECHA-FIN,HORA,CONTENT-URL,NOMBRE-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,NUM-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,TIPO
count,602,602,602,602,602,602,602,602,602,602.0,602,602,602
unique,573,27,197,147,33,602,114,11,100,45.0,22,65,25
top,Los guardianes de los tesoros,No disponible,2023-07-28 00:00:00.0,2023-07-31 23:59:00.0,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Teatro Español,CALLE,LEGAZPI,4.0,CENTRO,CHOPERA,/contenido/actividades/CursosTalleres
freq,3,312,21,40,188,1,43,305,48,87.0,97,65,141

In [31]:
df[df["COORDENADA-X"].isna()]

,ID-EVENTO,TITULO,DIAS-SEMANA,FECHA,FECHA-FIN,HORA,CONTENT-URL,NOMBRE-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,NUM-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO
315,12052852,Hilando títeres,No disponible,2023-09-02 00:00:00.0,2023-09-02 23:59:00.0,20:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Parque de la Montaña Templo de Debod,CALLE,PROFESOR MARTIN ALMAGRO BASCH,No disponible,MONCLOA-ARAVACA,CASA DE CAMPO,NaN,NaN,40.423066,-3.716893,/contenido/actividades/CuentacuentosTiteresMar...
579,12052767,Sim Salabim,No disponible,2023-07-29 00:00:00.0,2023-07-29 23:59:00.0,20:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Parque de la Montaña Templo de Debod,CALLE,PROFESOR MARTIN ALMAGRO BASCH,No disponible,MONCLOA-ARAVACA,CASA DE CAMPO,NaN,NaN,40.423066,-3.716893,/contenido/actividades/CuentacuentosTiteresMar...
643,12052794,Tiritirantes,No disponible,2023-08-05 00:00:00.0,2023-08-05 23:59:00.0,20:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Parque de la Montaña Templo de Debod,CALLE,PROFESOR MARTIN ALMAGRO BASCH,No disponible,MONCLOA-ARAVACA,CASA DE CAMPO,NaN,NaN,40.423066,-3.716893,/contenido/actividades/CuentacuentosTiteresMar...

In [32]:
print(df.loc[579,"LONGITUD"])
print(df.loc[579,"LATITUD"])
print(df.loc[643,"LONGITUD"])
print(df.loc[643,"LATITUD"])

-3.7168927333258734
40.42306560723444
-3.7168927333258734
40.42306560723444

In [33]:
df.loc[315,"COORDENADA-X"] = 438937.8813642175
df.loc[315,"COORDENADA-Y"] = 4475035.071566822
df.loc[579,"COORDENADA-X"] = 438937.8813642175
df.loc[579,"COORDENADA-Y"] = 4475035.071566822
df.loc[643,"COORDENADA-X"] = 438937.8813642175
df.loc[643,"COORDENADA-Y"] = 4475035.071566822

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 0 to 740
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0    ID-EVENTO              602 non-null    int64
 1   TITULO                  602 non-null    object
 2   DIAS-SEMANA             602 non-null    object
 3   FECHA                   602 non-null    object
 4   FECHA-FIN               602 non-null    object
 5   HORA                    602 non-null    object
 6   CONTENT-URL             602 non-null    object
 7   NOMBRE-INSTALACION      602 non-null    object
 8   CLASE-VIAL-INSTALACION  602 non-null    object
 9   NOMBRE-VIA-INSTALACION  602 non-null    object
 10  NUM-INSTALACION         602 non-null    object
 11  DISTRITO-INSTALACION    602 non-null    object
 12  BARRIO-INSTALACION      602 non-null    object
 13  COORDENADA-X            602 non-null    float64
 14  COORDENADA-Y            602 non-null    float64
 15  LATITUD                 602 non-null    float64
 16  LONGITUD                602 non-null    float64
 17  TIPO                    602 non-null    object
dtypes: float64(4), int64(1), object(13)
memory usage: 105.5+ KB

In [35]:
df.describe()

          ID-EVENTO   COORDENADA-X  COORDENADA-Y     LATITUD    LONGITUD
count  6.020000e+02     602.000000  6.020000e+02  602.000000  602.000000
mean   1.198593e+07  441606.451236  4.474168e+06   40.416073   -3.688258
std    1.930135e+05    2952.748312  3.700793e+03    0.033380    0.034727
min    1.007480e+07  433622.000000  4.466191e+06   40.342336   -3.781962
25%    1.202718e+07  440258.000000  4.471619e+06   40.392778   -3.704527
50%    1.204324e+07  440946.000000  4.474036e+06   40.414829   -3.695803
75%    1.205471e+07  441817.250000  4.475508e+06   40.428029   -3.686005
max    1.206459e+07  449784.000000  4.485730e+06   40.519673   -3.592395

In [36]:
df["FECHA"] = pd.to_datetime(df["FECHA"])
df["FECHA-FIN"] = pd.to_datetime(df["FECHA-FIN"])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 0 to 740
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0    ID-EVENTO              602 non-null    int64
 1   TITULO                  602 non-null    object
 2   DIAS-SEMANA             602 non-null    object
 3   FECHA                   602 non-null    datetime64[ns]
 4   FECHA-FIN               602 non-null    datetime64[ns]
 5   HORA                    602 non-null    object
 6   CONTENT-URL             602 non-null    object
 7   NOMBRE-INSTALACION      602 non-null    object
 8   CLASE-VIAL-INSTALACION  602 non-null    object
 9   NOMBRE-VIA-INSTALACION  602 non-null    object
 10  NUM-INSTALACION         602 non-null    object
 11  DISTRITO-INSTALACION    602 non-null    object
 12  BARRIO-INSTALACION      602 non-null    object
 13  COORDENADA-X            602 non-null    float64
 14  COORDENADA-Y            602 non-null    float64
 15  LATITUD                 602 non-null    float64
 16  LONGITUD                602 non-null    float64
 17  TIPO                    602 non-null    object
dtypes: datetime64[ns](2), float64(4), int64(1), object(11)
memory usage: 105.5+ KB

In [38]:
df.head()

,ID-EVENTO,TITULO,DIAS-SEMANA,FECHA,FECHA-FIN,HORA,CONTENT-URL,NOMBRE-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,NUM-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO
0,12042069,14.4,"M,X,J,V,S,D",2024-06-27,2024-07-28 23:59:00,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Teatro Español,CALLE,PRINCIPE,25.0,CENTRO,CORTES,440597.0,4474036.0,40.414829,-3.700165,/contenido/actividades/TeatroPerformance
3,12060008,2001: Una odisea del espacio,No disponible,2023-09-17,2023-09-17 23:59:00,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Cineteca Madrid,PLAZA,LEGAZPI,8.0,ARGANZUELA,CHOPERA,440946.0,4471422.0,40.391310,-3.695803,/contenido/actividades/ProgramacionDestacadaAg...
4,12027875,20.000 Especies de abejas,No disponible,2023-08-14,2023-08-14 23:59:00,22:15,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Auditorio al aire libre. Parque de Canillejas,CALLE,NECTAR,32.0,SAN BLAS-CANILLEJAS,CANILLEJAS,448169.0,4477063.0,40.442604,-3.611169,/contenido/actividades/CineActividadesAudiovis...
5,12052831,"3,2,1... ¡Acción! Laboratorio de teatro e impr...",M,2023-07-04,2023-07-25 23:59:00,18:30,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad María Zambrano. Chamberí,CALLE,ANDRES MELLADO,44.0,CHAMBERI,GAZTAMBIDE,439412.0,4476170.0,40.433958,-3.714336,/contenido/actividades/CursosTalleres
6,12050468,4x4,"M,X,J,V,S,D",2023-12-14,2024-01-14 23:59:00,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Fernán Gómez Centro Cultural de la Villa,PLAZA,COLON,4.0,SALAMANCA,RECOLETOS,441472.0,4475155.0,40.424972,-3.689948,/contenido/actividades/ProgramacionDestacadaAg...

In [39]:
# Obtener la fecha actual
fecha_actual = datetime.now()
fecha_actual

datetime.datetime(2023, 7, 25, 19, 22, 57, 235584)

In [40]:
# Calcular la fecha de hoy más 10 días
fecha_maxima = fecha_actual + timedelta(days=10)
fecha_maxima

datetime.datetime(2023, 8, 4, 19, 22, 57, 235584)

In [41]:
# Filtrar el DataFrame para eventos que están ocurriendo en el momento presente o en los próximos 10 días
df_filtrado = df[(df["FECHA"] <= fecha_actual) & (df["FECHA-FIN"] >= fecha_actual) | (df["FECHA"] <= fecha_maxima)]
df_filtrado

,ID-EVENTO,TITULO,DIAS-SEMANA,FECHA,FECHA-FIN,HORA,CONTENT-URL,NOMBRE-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,NUM-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO
5,12052831,"3,2,1... ¡Acción! Laboratorio de teatro e impr...",M,2023-07-04,2023-07-25 23:59:00,18:30,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad María Zambrano. Chamberí,CALLE,ANDRES MELLADO,44.0,CHAMBERI,GAZTAMBIDE,439412.0,4476170.0,40.433958,-3.714336,/contenido/actividades/CursosTalleres
7,12033938,A criança,No disponible,2023-08-04,2023-08-04 23:59:00,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Cineteca Madrid,PLAZA,LEGAZPI,8.0,ARGANZUELA,CHOPERA,440946.0,4471422.0,40.391310,-3.695803,/contenido/actividades/ProgramacionDestacadaAg...
13,12055831,Activando la mente con mujeres en la historia,L,2023-07-17,2023-07-31 23:59:00,10:30,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad Lourdes Hernández. Caraban...,CALLE,COMANDANTE FONTANES,8.0,CARABANCHEL,SAN ISIDRO,438758.0,4471886.0,40.395326,-3.721623,/contenido/actividades/CursosTalleres
14,11998705,Actividades infantiles 'X Verano Retiro Sur',"L,M,X,J,V,S,D",2023-07-03,2023-07-31 23:59:00,09:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Centro Cultural Las Californias (Retiro),CALLE,LUIS PEIDRO,2.0,RETIRO,ADELFAS,442812.0,4472042.0,40.397021,-3.673881,/contenido/actividades/Campamentos
18,11999930,African Studies. Edward Burtynsky,"M,X,J,V,S,D",2023-06-08,2023-10-01 23:59:00,No disponible,http://www.madrid.es/sites/v/index.jsp?vgnextc...,CentroCentro,PLAZA,CIBELES,1.0,RETIRO,LOS JERONIMOS,441277.0,4474496.0,40.419012,-3.692206,/contenido/actividades/ProgramacionDestacadaAg...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,12044092,'Insectos y otros pequeños habitantes de La Ca...,S,2023-07-01,2023-07-29 23:59:00,11:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Aula ambiental La Cabaña del Retiro,PASEO,FERNAN NU&amp;Ntilde;EZ,10.0,RETIRO,LOS JERONIMOS,442360.0,4473388.0,40.409115,-3.679329,/contenido/actividades/ItinerariosOtrasActivid...
734,12054316,¡Crea tu propio podcast!,"L,M,X,J,V,S,D",2023-07-25,2023-07-27 23:59:00,12:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad María Moliner. Villa de Va...,CALLE,HONRUBIA,4.0,VILLA DE VALLECAS,ENSANCHE DE VALLECAS,446579.0,4469157.0,40.371282,-3.629246,/contenido/actividades/CursosTalleres
735,11965312,¡Jugamos con las cariocas! Crea tus propios ju...,No disponible,2023-07-29,2023-07-29 23:59:00,11:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Centro de Educación Ambiental y Cultural Maris...,CALLE,DOCTOR TOLOSA LATOUR,16.0,USERA,PRADOLONGO,440301.0,4469524.0,40.374166,-3.703222,/contenido/actividades/CursosTalleres
736,12052765,¡Móvil-izate! Aprender a usar la app 'Cita san...,No disponible,2023-07-31,2023-07-31 23:59:00,11:30,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad María Zambrano. Chamberí,CALLE,ANDRES MELLADO,44.0,CHAMBERI,GAZTAMBIDE,439412.0,4476170.0,40.433958,-3.714336,/contenido/actividades/CursosTalleres
740,11883885,¿Y nosotros qué podemos hacer?,M,2023-07-18,2023-07-25 23:59:00,11:00,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad Carme Chacón. Hortaleza,CALLE,MATAPOZUELOS,2.0,HORTALEZA,CANILLAS,444876.0,4479190.0,40.461556,-3.650171,/contenido/actividades/CursosTalleres

In [42]:
nombre_archivo = f'Actividades proximos 10 días a {fecha_actual_str}.json'

In [43]:
df_filtrado.to_json(nombre_archivo, orient='records')